section.balance
	.balance__wrapper
		form(action="#" class="form balance__form form-balance")
			.form-balance__left
				h2.balance__title Пополняй баланс Steam Россия
				.form-balance__form
					label.form-balance__label.form-balance__label--login
						i.form-balance__icon.form-balance__user-icon.icon-user
						input(autocomplete="off" type="text" name="name" class="form-balance__input" placeholder="Ваш логин")
						button.form-balance__modal(type="button" data-graph-animation="custom" data-graph-path="login")
							i.form-balance__icon-info.icon-info
							span Где взять логин?
					
					.form-balance__row.form-balance__wallet(style="display:flex;")
						label.form-balance__label.form-balance__label--wallet
							i.form-balance__icon.form-balance__cash-icon.icon-cash
							input(autocomplete="off" type="text" name="forwsumm" class="form-balance__input" placeholder="Сумма мин. 30 ₽, макс. 50 000 ₽")

							- var flags = [{name: 'ru', symbol: '<i class="wallet-target icon-ru"></i>'}, {name: 'kaz', symbol: '<i class="wallet-target icon-kaz"></i>'}, {name: 'ua', symbol: '<i class="wallet-target icon-ua"></i>'}, {name: 'sng', symbol: '<i class="wallet-target icon-sng"></i>'}];
							
						.form-balance__select
							select(id="select-vallet" name="wallet-select")
								each flag, i in flags
									option(data-flag=flag.symbol value=flag.name selected=i==0?true:false)

					
					- var variants = ['100', '200', '500', '2000'];
					.form-balance__row.form-balance__variants
						each item, i in variants
							label.form-balance__summ
								input.form__check.form-balance__summ-check(type='radio' name='checkbox-summ' value=item checked=i==2?true:false)
								span.form-balance__summ-val= item + ' ₽'

					.form-balance__row.form-balance__paysystems
						label.paysystem
							input.form__check.paysystem__check(type='radio' name='paysystem' value="sbp" checked)
							span.paysystem__val.paysystem__val--sbp
								img(src="img/systems/sbp.png" alt="alt")
						
						label.paysystem.paysystem--multi
							- var parts = ['mscd', 'visa', 'mir'];
							input.form__check.paysystem__check(type='radio' name='paysystem' value="multi")
							span.paysystem__val.paysystem__val--multi
								each part in parts
									span(class="paysystem__part paysystem__part--"+part)
										img(src="img/systems/"+part+".png" alt="alt")
						label.paysystem
							input.form__check.paysystem__check(type='radio' name='paysystem' value="pay")
							span.paysystem__val.paysystem__val--pay
								img(src="img/systems/pay.png" alt="alt")
						
				// button.btn.btn-wide(type='submit') Получить консультацию

			
			.form-balance__right
				.form-balance__table
					- var tabs = ['Получите на баланс Steam:', 'Комиссия сервиса:'];
					each item, i in tabs
						.form-balance__table-row
							.form-balance__table-key= item
							.form-balance__table-val 0₽

				.form-balance__buttons
					- var btns = ['Введите логин Steam', 'Хочу комиссию 3%!'];
					each btn, i in btns
						button(type="button" class=i==1?"form-balance__button form-balance__button--blue":"form-balance__button")= btn
							span.form-balance__button-icon
								i.icon-arrow
				
				.form__custom-policy
					label.form__custom
						input.form__check(type='checkbox' name='checkbox' value='chekbox1' checked='checked' required='required')
						span.form__custom-chek
							span.icon-check
					span.form__policy Я подтверждаю, что указал именно логин Steam, а не никнейм или ссылку и ознакомился с #[a(href="#") Пользовательским соглашением]

				.form-balance__info-title Важная информация:
				p.form-balance__info-text Средства на вашем Steam-кошельке доступны для приобретения любых игр в магазине платформы, а также для покупок внутри игр, где предусмотрена оплата через Steam.
